.vo{
  margin-left: 20%;
  display: flex;
  
}
.addCourses{
  padding: 30px 90px;
  font-size: 40px;
  
}
.selectedCourse{
  margin-left: 20%;
}
.courseRemove{
  display: flex;
  font-size: 20px;
  
}
td{
  text-align: center;
}
span{
  padding: 30px 90px;
}


  
